.cart-quantity {
  background: rgb(50, 153, 255);
  border-radius: 5px;
  color: rgb(226, 223, 223);
  font-size: 10px;
  padding: 0 2px;
  vertical-align: top;
}

.shopping-cart-icon {
  color: rgb(163, 197, 212);
  font-size: 18px;
  padding: 0 5px;
  vertical-align: top;
}

a {
  text-decoration: none;
}
